.footer__element {
  margin: 0;
  padding-right: 18px;
  display: block;
  padding-bottom: 24px;
  list-style-type: none;
}

.footer__element:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 340px) {
  .footer__element {
    padding-right: 0;
    padding-bottom: 32px;
  }
}