.places__link {
  padding-top: 12px;
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: inherit;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.places__link:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .places__link {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 320px;
  }
}