.lead {
  padding-top: 56px;
  max-width: 984px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}