.footer__link {
  margin: 0;
  padding-right: 18px;
  display: block;
  padding-bottom: 24px;
  list-style-type: none;
}

.footer__link:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 320px) {
  .footer__link {
    padding-right: 0;
    padding-bottom: 32px;
  }
}