.lead__title {
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  display: block;
  word-break: break-word;
}

@media screen and (max-width: 676px) {
  .lead__title {
    font-size: 50px;
    line-height: 110%;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}