.lead__subtitle {
  padding-top: 32px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 768px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (max-width: 340px) {
  .lead__subtitle {
    max-width: 320px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}