.cover__image {
  margin-top: 92px;
  width: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  min-height: 740px;
  position: relative;
  text-decoration: none;
}

.cover__image:hover .cover__overlay {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover__image {
    min-height: 640px;
    min-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__image {
    margin-top: 90px;
    min-height: 480px;
    min-width: 768px;
  }
}

@media screen and (max-width: 507px) {
  .cover__image {
    margin-top: 66px;
    min-height: 317px;
    min-width: 507px;
  }
}

@media screen and (max-width: 320px) {
  .cover__image {
    margin-top: 66px;
    min-height: 200px;
    min-width: 320px;
  }
}