.lead__caption {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 8px;
  display: inline-block;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 340px) {
  .lead__caption {
    padding-left: 16px;
  }
}