.places__url-heading {
  color: #AAAAAA;
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase
}

@media screen and (max-width: 768px) {
  .places__url-heading {
    line-height: 12px;
  }
}

@media screen and (max-width: 368px) {
  .places__url-heading {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 320px) {
  .places__url-heading {
    max-width: 320px;
  }
}