.intro__title {
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 368px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}